.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 22px;
}

@media (width >= 640px) {
  .cards > ul {
    grid-template-columns: unset;
    grid-auto-flow: column;
  }
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color)
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  padding: 24px 24px 0;
  margin-bottom: 16px;
  margin-top: 0;
}

.cards .cards-card-body > *:first-child a {
  text-align: left;
  border-radius: 0;
}

.cards .cards-card-body > p:nth-child(2),
.cards .cards-card-body > p:nth-child(3) {
  margin: 0 0 16px;
  padding: 0 24px;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: auto;
  object-fit: cover;
}

.cards a.button:any-link, button {
  font-size: 16px;
  font-weight: 400;
  color: #001823;
  background-color: inherit;
  white-space: inherit;
}

.cards p {
  font-size: 12px;
  font-weight: 400;
  color:  #5e7079;
}

body > main > div.section.columns-container.cards-container > div.default-content-wrapper h3 {
  color: var(--color-phoenix-red);
  letter-spacing: .15rem;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

.read-more {
  -webkit-font-smoothing: antialiased;
  margin: 2% auto;
}

.read-more ul li {
  border: 0;
  box-shadow:
      -12px 0 19px -12px rgba(0 0 0 / 12%),
      12px 0 19px -12px rgba(0 0 0 / 12%),
      0 12px 19px -12px rgba(0 0 0 / 12%);
}

.read-more ul li div p a {
  margin: 0 !important;
  padding: 0 !important;
  letter-spacing: 0;
}

.read-more ul li div p:nth-child(2) {
  font-size: calc(var(--body-font-size-xs) * 0.8);
  font-weight: 600;
  letter-spacing: 0.08rem;
}

@media (width <= 990px) {
  .read-more ul {
    margin: 4%;
  }

  .read-more .cards-card-body a {
    font-size: calc(var(--body-font-size-s) * 0.95) !important;
    text-align: left;
    border-radius: 0;
  }
}
