.article-shares {
    line-height: 1rem !important;
    display: flex;
    gap: 32px;
    padding-top: 10px;
}

.article-shares > div {
    flex: 1;
    order: unset;
}

.article-shares .publication-date {
    color: black;
    font-size: calc(var(--body-font-size-xs) * 0.75);
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 0;
}

.social-container {
    display: flex;
    justify-content: flex-end;
    gap: 0.4rem;
    margin: 0;
    height: 40px;
}

.article-shares .social-container a {
    display: flex;
    align-items: center;
    object-fit: cover;
    border-radius: 50%;
    padding: 2.2%;
}

.article-shares .social-container a:hover {
    border-radius: 50%;
}

.article-shares .social-container > a:nth-child(1) {
    background-image: url("/aem/icons/twitter-white.svg");
}

.article-shares .social-container > a:nth-child(2) {
    background-image: url("/aem/icons/facebook-white.svg");
}

.article-shares .social-container > a:nth-child(3) span {
    background-image: url("/aem/icons/linkedin-white.svg");
}

.article-shares .social-container > a:nth-child(4) {
    background-image: url("/aem/icons/pinterest-white.svg");
}

.article-shares .social-container > a:nth-child(5) {
    background-image: url("/aem/icons/email-white.svg");
}

.block div.article-byline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

@media (width <= 990px) {
    .block div.article-byline {
        display: flex;
        flex-direction: column;
    }
}

.block div.article-byline p {
    font-size: var(--body-font-size-xs);
    font-weight: 400;
    color: var(--darker-grey-color);
    line-height: 2.5rem;
    -webkit-font-smoothing: antialiased;
}

.article-byline > div {
    padding-left: 5%;
    width: 100%;
}

.article-byline > div > p {
    margin-top: 0;
}

.article-byline .reviewer-details,
.article-byline .writer-details {
    display: flex;
    flex-direction: row;
    padding: 5% 0 0 !important;
    gap: 5%;
}

.article-byline img {
    padding: 0;
    height: auto;
    width: 100%;
}

.article-byline .writer-details p:first-child,
.article-byline .reviewer-details p:first-child {
    width: 11%;
}

.article-byline .writer-details p:last-child,
.article-byline .reviewer-details p:last-child {
    width: 93%;
    padding-top: 2%;
    color: var(--darker-grey-color);
}

@media (width <= 991px) {
    .article-title h1 {
        font-size: var(--heading-font-size-xl) !important;
        margin-top: 50px;
        margin-bottom: 8px;
    }

    .article-byline > div {
        padding-left: 3%;
    }

    .writer-details p:first-child, .article-byline .reviewer-details p:first-child {
        width: 13% !important;
    }

    .reviewer-details p:last-child {
        width: 80% !important;
    }

    .article-shares {
        gap: 0;
    }

    .publication-date {
        font-size: calc(var(--body-font-size-xs) * 0.7) !important;
    }

    .social-container {
        gap: 0.5rem;
        justify-content: flex-start;
    }
}
