.accordion {
  -webkit-font-smoothing: antialiased;
}

.accordion details {
  /* border: 1px solid var(--dark-color); */
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details + details {
  margin-top: 16px;
}

.accordion details summary {
  position: relative;
  padding: 0 16px;
  padding-right: 48px;
  cursor: pointer;
  list-style: none;

  /* overflow: auto; */
  transition: background-color 0.2s;
}

.accordion details[open] summary {
  /* background-color: var(--light-color); */
}

.accordion details summary:focus,
.accordion details summary:hover {
  /* background-color: var(--dark-color); */
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(45deg);
  width: 9px;
  height: 9px;
  border: 2px solid;
  border-width: 2.5px 2.5px 0 0;
  transition: transform 0.2s;
}

.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(135deg);
}

.accordion details .accordion-item-body {
  padding: 0 16px;
}

.accordion details[open] .accordion-item-body {
  /* border-top: 1px solid var(--dark-color); */
  background-color: var(--background-color);
}

.accordion-item-label {
  color: #fff;
}

.accordion .accordion-item-body a.button:any-link, button {
  color: #001823;
  background-color: inherit;
  font-weight: 400;
}

@media (width > 991px) {
  .accordion details summary.accordion-container-item-label::after {
    content: none;
  }
}

@media (width <= 991px) {
  .aside-nav .default-content-wrapper:last-of-type {
    display: none;
  }

  .accordion details summary::after {
    transform: translateY(-50%) rotate(135deg);
  }
}

.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details > summary p {
  font-size: 20px;
  font-weight: 600;
  margin-top: 12%;
}

.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details > details > summary p,
.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details > details:nth-child(2) > summary p:nth-child(3) {
  margin: 0 !important;
  /* margin-bottom: 2% !important; */
}

body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details > details:nth-child(8) > summary > p:nth-child(2) > a {
  border-radius: 0 !important;
  border: 0;
}

body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details > details:nth-child(8) > summary::after {
  display: none;
}

.aside-nav {
  -webkit-font-smoothing: antialiased;
  top: 150px;
  background-color: #1a3d4d;
  border-radius: 0 0 20px 20px;
  max-width: min(328px, 21.5%);
}

body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.aside-nav-bottom > div > p:nth-child(2) {
  font-size: var(--heading-font-size-xl);
  font-weight: 600;
  margin: 0 7%;
}

body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.aside-nav-bottom > div > p:nth-child(3) {
  font-size: var(--body-font-size-xs);
  font-weight: 300;
  margin: 7%;
}

body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.aside-nav-bottom > div > p.button-container > em > a {
  margin: 0 7%;
  padding: 2% 3.5%;
  font-size: calc(var(--body-font-size-xs) * 0.95);
  font-weight: 600 !important;
}

body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details > details > div > p {
  margin: 0 !important;
}

body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details > details > div > p:nth-child(2) > a {
  margin-top: 4% !important;
}

body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details > details > div {
  box-shadow:
      -12px 0 19px -12px rgba(0 0 0 / 12%),
      12px 0 19px -12px rgba(0 0 0 / 12%),
      0 12px 19px -12px rgba(0 0 0 / 12%);
}

body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details > details > div > p a {
  margin: 0 auto !important;
  font-size: var(--body-font-size-xs) !important;
}

body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details > details[open] > summary::after {
  top: 60%;
  border-width: 0 0 2.5px 2.5px !important;
}

@media (width <= 990px) {
  .aside-nav {
    width: calc(100% - 2rem) !important;
    margin: 0 auto;
    left: 1rem;
    right: 1rem;
    position: fixed;
    z-index: 1;
    box-shadow: 1px 1px 7px 2px rgb(0 0 0 / 20%);
    top: 84.4px !important;
  }

  body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details > summary > p {
    font-size: calc(var(--body-font-size-xs) * 1.05);
    font-weight: 200;
    margin-top: 34px;
    margin-bottom: 8.8px;
  }

  body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details[open] {
    background-color: #F2F3F3;
    border-radius: 0 0 20px 20px;
  }

  .aside-nav details summary::after {
    top: 30%;
  }

  body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details[open] > details{
    border-bottom: 1px solid var(--dark-color);
  }

  body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details > summary {
    padding-bottom: 2%;
    background-color: #1a3d4d;
    border-radius: 0 0 20px 20px;
  }

  body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details[open] > summary {
    border-radius: 0;
  }

  body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details[open] > summary::after {
    top: 40%;
    border-width: 0 0 2.5px 2.5px !important;
  }

  body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details > details p {
    color: black;
  }

  body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details > details:last-child > summary {
    border-bottom: unset;
  }

  body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details > details > summary::after {
    color: black;
  }

  body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details > details:last-child a {
    margin: 0;
    color: black;
    font-weight: 200 !important;
  }

  body > main > div.section.aside-nav.fragment-container.accordion-container > div > div.section.accordion-container > div > div > details > details[open] > summary::after {
    border-width: 0 0 2.5px 2.5px !important;
    top: 50%;
  }
}
