/* header and nav layout */
/* stylelint-disable no-descending-specificity */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

@media (width <= 900px) {
  header .nav-wrapper {
    background-color: transparent;
  }
}

.hide {
  display: none !important;
}

.nav-expanded {
  width: 100% !important;
  padding-bottom: 0 !important;
}

header nav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 0 2em;
  margin: 45px auto auto;
  max-width: 1420px;
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

header nav .nav-overall {
  height: var(--nav-height);
}

header nav[aria-expanded="true"] {
  flex-direction: column;
  overflow-y: auto;
  min-height: 100vh;
}

@media (width >= 900px) {
  header nav {
    padding: 0;
  }
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */

/* header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}
*/

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav .header-dropdown-container {
  display: none;
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

header nav .nav-sections > ul > li > strong {
  font-style: normal;
}

header nav .nav-sections > ul > li > em {
  display: none;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
    display: flex;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding: 14px 16px 14px 0;
    cursor: pointer;
  }


  header nav .header-dropdown-container .header-mega-nav {
      display: none;
  }

  header nav .nav-sections .nav-drop:hover,
  header nav .nav-sections .nav-drop[aria-expanded="true"]{
    border-bottom: 0.25rem solid var(--color-phoenix-red);
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 1.3em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 1px 1px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: 1.3em;
    transform: rotate(315deg);
  }

  header nav .header-dropdown-container {
    display: block;
    width: 100%;
    background-color: var(--color-white);
    z-index: 999;
    position: relative;
    border-radius: 30px 30px 20px 20px;
    box-shadow: 1px 4px 9px 0 rgb(0 0 0 / 20%);
    overflow: hidden;
    margin-top: -65px;
    flex-direction: column;
    padding: 0;
  }

  header nav .header-dropdown-container .header-mega-nav.selected {
    display: block;
    width: 100%;
  }

  header nav .header-dropdown-container .header-mega-nav.selected .center {
    display: flex;
    height: 100%;
    width: 100%;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer {
    float: left;
    clear: none;
    width: calc(100% - 223px);
    padding: 90px 0 0 223px;
    background-color: var(--color-almost-black-l90);
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container {
    display: flex;
    height: 100%;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation {
    float: left;
    clear: none;
    width: 100%;
    display: flex;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-left {
    width: 280px;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-left ul {
    padding-left: 0;
    margin: 0;
  }


  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-left ul button {
    background-color: transparent;
    border: 0;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: var(--color-almost-black-l10);
    padding: 10px 10px 10px 25px;
    border-radius: 25px 0 0 25px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: left;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-left ul button strong {
    font-weight: 500;
    font-family: Roboto, "Helvetica Neue", serif;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-left ul button.selected,
  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-left ul button:hover {
    background-color: var(--color-white);
    width: 100%;
    border: 0;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-right .tabs-panel {
    display: none;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-right {
    width: calc((100% - 280px));
    display: flex;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-right .header-tab-right-left {
    width: 41.667%;
    background-color: white;
    margin-top: -90px;
    padding: 90px 0 40px;
    margin-left: 0;
    display: block;
    clear: none;
    min-height: 500px;
    float: left;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-right .header-tab-right-right {
    width: 58.333%;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-right .tabs-panel.selected {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    top: -20px;
    position: relative;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-right .tabs-panel.selected ul {
    list-style-type: none;
    padding: 0;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-right .tabs-panel.selected ul li {
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto, "Helvetica Neue", serif;
    padding: 0;
    margin: 0 0 25px;
    line-height: 24px;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-right .tabs-panel.selected ul li::before {
    bottom: -10px;
    height: 2px;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-right .tabs-panel.selected ul li a:any-link {
    text-decoration: none;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-right .tabs-panel.selected ul li a::after {
    bottom: -2px;
    height: 2px;
    content: "";
    width: 0;
    left: 0;
    border-radius: 30px;
    background-color: var(--color-phoenix-red);
    position: relative;
    display: block;
    transition: all .3s ease-in-out;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-right .tabs-panel.selected ul li a:hover::after {
    width: 100%;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-right .header-tab-right-right a {
    line-height: 0;
    font-size: 0;
    color: transparent;
  }

  header nav .header-dropdown-container .header-mega-nav.three-level.selected .center .headernavcontainer .header-container .headernavtabnavigation .header-tabs-right .header-tab-right-right .right-image {
    margin-left: 14.28%;
    float: left;
    clear: none;
    width: 71.4285%;
    padding-top: 4rem;
  }

  header nav .header-dropdown-container .header-mega-nav.one-level.selected .center .headernavcontainer {
    margin-left: 0;
    float: left;
    clear: none;
    width: calc(58.333% - 223px);
    background-color: var(--color-almost-black-l90);
    padding: 90px 0 40px 223px;
  }

  header nav .header-dropdown-container .header-mega-nav.one-level.selected .center .headernavcontainer .header-container {
    display: flex;
    height: 100%;
  }

  header nav .header-dropdown-container .header-mega-nav.one-level.selected .center .headernavcontainer .header-container .headernavtitleandlinks {
    margin-left: 0;
    float: left;
    clear: none;
    width: 71.4286%;
    display: block;
  }

  header nav .header-dropdown-container .header-mega-nav.one-level.selected .center .headernavcontainer .header-container .headernavtitleandlinks .header-links {
    padding: 10px 30px 0;
  }

  header nav .header-dropdown-container .header-mega-nav.one-level.selected .center .headernavcontainer .header-container .headernavtitleandlinks .header-links ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", serif;
  }

  header nav .header-dropdown-container .header-mega-nav.one-level.selected .center .headernavcontainer .header-container .headernavtitleandlinks .header-links ul li {
    margin: 0 0 25px;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-almost-black-l10);
    line-height: 24px;
  }

  header nav .header-dropdown-container .header-mega-nav.one-level.selected .center .headernavcontainer .header-container .headernavtitleandlinks .header-links ul li a {
    text-decoration: none;
    position: relative;
    width: max-content;
    display: block;
    box-sizing: border-box;
  }

  header nav .header-dropdown-container .header-mega-nav.one-level.selected .center .headernavcontainer .header-container .headernavtitleandlinks .header-links ul li a::after {
    bottom: -2px;
    height: 2px;
    content: "";
    width: 0;
    left: 0;
    border-radius: 30px;
    background-color: var(--color-phoenix-red);
    position: relative;
    display: block;
    transition: all .3s ease-in-out;
  }

  header nav .header-dropdown-container .header-mega-nav.one-level.selected .center .headernavcontainer .header-container .headernavtitleandlinks .header-links ul li a:hover::after {
    width: 100%;
  }

  header nav .header-dropdown-container .header-mega-nav.one-level.selected .center .headernavcontainer-right {
    margin-left: 0;
    float: left;
    clear: none;
    width: 41.667%;
    display: block;
    padding: 90px 0 40px;
  }

  header nav .header-dropdown-container .header-mega-nav.one-level.selected .center .headernavcontainer-right .header-container {
    display: flex;
    height: 100%;
    width: 100%;
    float: left;
  }

  header nav .header-dropdown-container .header-mega-nav.one-level.selected .center .headernavcontainer-right .header-container .container-content {
    text-align: center;
  }

  header nav .header-dropdown-container .header-mega-nav.one-level.selected .center .headernavcontainer-right .header-container .container-content .image-container {
    margin-left: 20%;
    float: left;
    clear: none;
    width: 60%;
    padding-bottom: 16px;
    padding-top: 10px;
    text-align: center;

  }

  header nav .header-dropdown-container .header-mega-nav.one-level.selected .center .headernavcontainer-right .header-container .container-content .image-container a {
    line-height: 0;
    font-size: 0;
    color: transparent;
  }

  header nav .header-dropdown-container .header-mega-nav.one-level.selected .center .headernavcontainer-right .header-container .container-content .button-container {
    float: left;
    clear: none;
    width: 90%;
    margin-left: 10%;
  }

  header nav .header-dropdown-container .header-mega-nav.one-level.selected .center .headernavcontainer-right .header-container .container-content .button-container a {
    background-color: var(--color-river-blue);
    border-color: transparent;
    border-radius: 20px;
    box-sizing: border-box;
    color: var(--color-white);
    cursor: pointer;
    display: inline-block;
    font-family: var(--body-font-family);
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    line-height: 24px;
    margin: 0 0 8px;
    min-width: 160px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    transition: all .2s;
    white-space: normal;
  }

  header nav .header-dropdown-container .header-mega-nav.one-level.selected .center .headernavcontainer-right .header-container .container-content .button-container a:hover {
    background-color: var(--color-river-blue-dark);
  }

  header nav .header-dropdown-container .header-mega-nav.two-level.selected .center .headernavcontainer-left {
    display: block;
    clear: none;
    float: left;
    background-color: var(--color-almost-black-l90);
    padding: 90px 0 40px 223px;
    margin-left: 0;
    width: calc(45% - 223px);
  }

  header nav .header-dropdown-container .header-mega-nav.two-level.selected .center .headernavcontainer-mid {
    margin-left: 0;
    float: left;
    clear: none;
    width: 30%;
    padding: 90px 0 40px;
    background-color: var(--color-almost-black-l90);
  }

  header nav .header-dropdown-container .header-mega-nav.two-level.selected .center .header-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  header nav .header-dropdown-container .header-mega-nav.two-level.selected .center .header-container > li {
    margin-left: 0;
    float: left;
    clear: none;
    padding: 35px 30px 0;
    list-style: none;
  }

  header nav .header-dropdown-container .header-mega-nav.two-level.selected .center .headernavcontainer-left .header-container > li {
    border-right: 1px solid var(--color-almost-black-l40);
  }

  header nav .header-dropdown-container .header-mega-nav.two-level.selected .center .header-container > li:first-child {
    padding-top: 10px;
  }


  header nav .header-dropdown-container .header-mega-nav.two-level.selected .center .header-container > li > strong {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-almost-black-l30);
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 15px;
    display: block;
  }

  header nav .header-dropdown-container .header-mega-nav.two-level.selected .center .header-container > li > ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  header nav .header-dropdown-container .header-mega-nav.two-level.selected .center .header-container > li > ul > li {
    margin-bottom: 25px;
    line-height: 24px;
  }

  header nav .header-dropdown-container .header-mega-nav.two-level.selected .center .header-container > li > ul > li:last-child {
    margin-bottom: 0;
  }

  header nav .header-dropdown-container .header-mega-nav.two-level.selected .center .header-container > li > ul > li > a {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-almost-black-l10);
    line-height: 24px;
    text-decoration: none;
  }

  header nav .header-dropdown-container .header-mega-nav.two-level.selected .center .headernavcontainer-right {
    margin-left: 0;
    float: left;
    clear: none;
    width: 33.333%;
    display: block;
    padding: 122px 32px 72px;
  }

  header nav .header-dropdown-container .header-mega-nav.two-level.selected .center .headernavcontainer-right .button-container {
    float: left;
    clear: none;
    width: 100%;
    padding-bottom: 16px;
    text-align: center;
  }

  header nav .header-dropdown-container .header-mega-nav.two-level.selected .center .headernavcontainer-right .button-container > a {
    background-color: var(--color-river-blue);
    font-family: var(--body-font-family);
    font-size: 16px;
    font-weight: 500;
    color: var(--color-white);
    cursor: pointer;
    line-height: 24px;
    text-align: center;
    white-space: normal;
    margin: 5px 0;
    border: 0;
    padding: 8px 16px;
  }

  header nav .header-dropdown-container .header-mega-nav.two-level.selected .center .headernavcontainer-right .button-container > a:hover {
    background-color: var(--color-river-blue-dark);
  }

  header nav .header-dropdown-container .header-mega-nav.two-level.selected .center .headernavcontainer-right p:nth-child(3) {
    text-align: left;
    color: var(--color-almost-black-l30);
    font-family: var(--body-font-family);
    font-size: 12px;
    line-height: 18px;
  }

  header nav .header-dropdown-container .header-mega-nav.two-level.selected .center .headernavcontainer-right .button-container > strong > a {
    background: var(--color-white);
    border-color: var(--color-river-blue);
    color: var(--color-river-blue);
    padding: 6px 16px 8px;
    cursor: pointer;
    display: inline-block;
    font-family: var(--body-font-family);
    font-size: 16px;
    font-weight: 500;
  }

  header .header-bottom-section {
    display: none;
  }

  header .header-bottom-section.active {
    display: block;
    width: 100%;
  }

  header .header-bottom-section.active .bottom-container {
    display: flex;
    padding: 15px 0 15px 223px;
    background-color: var(--color-river-blue);
    font-family: Roboto, "Helvetica Neue", serif;
  }

  header .header-bottom-section.active .bottom-container .header-bottom-button {
    padding: 10px 30px;
    color: var(--color-white);
    text-decoration: none;
  }

  header .header-bottom-section.active .bottom-container .white-arrow {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    line-height: 21.6px;
  }

  header .header-bottom-section.active .bottom-container a .header-arrow {
    border-bottom: 1px solid var(--color-white);
    display: inline-block;
    height: 0;
    left: 0;
    margin: 5px 0 5px 10px;
    position: relative;
    width: 40px;
  }

  header .header-bottom-section.active .bottom-container a .header-arrow::after {
    border-right: 1px solid var(--color-white);
    border-top: 1px solid var(--color-white);
    content: "";
    height: 10px;
    position: absolute;
    right: 6px;
    transform: rotate(45deg) translateY(-65%);
    width: 10px;
  }

  header .header-bottom-section.active .bottom-container a:hover .header-arrow {
    left: 6px
  }

  header .header-bottom-section.active .bottom-container .white-border {
    border: 1px solid var(--color-white);
    border-radius: 30px;
    font-size: 14px;
    margin-left: 30px;
  }

  header .header-bottom-section.active .bottom-container .white-border:hover {
    background-color: var(--color-river-blue-dark);
  }


  header .header-dropdown-close {
    display: none;
    border: 0;
    background-color: transparent;
    padding: 0;
    position: absolute;
    cursor: pointer;
    top: 55px;
    right: 30px;
    height: 24px;
    border-radius: 100%;
  }

  header .header-dropdown-close span {
    background: var(--color-almost-black);
    transform: rotate(45deg) translate(4px,0);
    display: block;
    width: 24px;
    height: 2px;
    margin-bottom: 2px;
    position: relative;
    top: 0;
    right: 3px;
  }

  header .header-dropdown-close span:last-child {
    transform: rotate(-45deg) translate(2px, 0);
    left: -2px;
  }

  header .header-bottom-section.active ~ .header-dropdown-close {
    display: block;
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    list-style: none;
    padding-left: 45px;
    font-family: Roboto,"Helvetica Neue",serif;
    align-items: center;
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
    font-size: 16px;
  }

  header nav .nav-sections > ul > li > strong {
    display: none;
  }

  header nav .nav-sections > ul > li > em {
    display: block;
    font-style: normal;
  }

  header nav .nav-sections > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections  > ul > li > ul > li {
    padding: 8px 0;
  }
}

@media (width > 1300px) {
  header nav .nav-sections > ul > li > strong {
    font-style: normal;
    font-weight: 400;
    display: block;
    font-size: 16px;
  }

  header nav .nav-sections > ul > li > em {
    display: none;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

header .header-top {
  background: #007558;
  height: 45px;
  position: fixed;
  top: 0;
  width: 100%;
}

header .header-top p {
  margin: 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 14px;
  color: #fff;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  line-height: 12px;
}

header .header-top p a {
  color: #fff;
  text-decoration-line: underline
}

header nav .nav-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1001;
  position: relative;
  width: 100%;
  padding: 10px 0 0;
}

header nav .nav-top .icon-button-circle .icon {
  display: contents;
}

header nav .nav-top .icon-button-circle .icon img {
  width: 15px;
  height: 15px;
}

header nav .nav-top .student-login-container {
  padding: 8px 15px;
  background-color: var(--color-white);
  border-radius: 30px;
  margin: 0 13px 0 5px;
  font-size: 12px;
  color: var(--color-almost-black);
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 20%);
  text-decoration: none;
}

header nav .nav-top .student-login-container .student-login {
  display: flex;
  align-items: center;
}

header nav .nav-top .student-login-container .student-login img {
  margin-right: 10px;
  height: 14px;
  width: 14px;
}

header nav .nav-top .student-login-container .student-login span {
  line-height: 14px;
}

header .nav-overall {
  min-height: 58px;
  font-family: Roboto, "Helvetica Neue", serif;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  z-index: 1000;
  position: relative;
  transition: all .3s ease-in-out;
  max-width: 1420px;
  padding: 10px 0 0;
}

header .header-nav {
  display: flex;
  background-color: var(--color-white);
  border-radius: 60px;
  z-index: 1000;
  position: relative;
  box-shadow: 1px 1px 7px 2px rgb(0 0 0 / 20%);
  height: 58px;
  align-items: center;
}

header .header-nav > .header-left > p > picture:first-of-type {
  display: none;
}

header .header-nav > .header-left {
  display: flex;
}

header .header-nav > .header-left > p {
  line-height: 0;
}

header .nav-icons {
  display: flex;
}

header .icon-button-circle {
  gap: 2px;
  align-items: center;
  display: flex;
  background-color: white;
  padding: 6px;
  border-radius: 30px;
  margin: 0 5px;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 20%);
  height: auto;
  text-decoration: none;
}

header .nav-right {
  display: flex;
  margin: 0 8px 0 auto;
  align-items: center;
}

header .nav-right .request-info {
  display: none;
}

@media (width >= 900px) {
  header .header-nav > .header-left > p > picture:first-of-type {
    display: block;
  }

  header .header-nav > .header-left > p > picture:nth-of-type(2) {
    display: none;
  }

  header .nav-right .nav-icons,
  header .nav-right .nav-hamburger {
    display: none;
  }

  header .nav-right .request-info {
    display: block;
    margin-top: -3px;
  }

  header .nav-right .request-info .header-button-redborder {
    border: 1px solid var(--color-phoenix-red);
    color: var(--color-phoenix-red);
    font-weight: 500;
    padding: 8px 20px;
    margin: 0 5px;
    border-radius: 30px;
    font-size: 14px;
    min-width: 88px;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease-in-out;
  }

  header .nav-right .request-info .header-button-redborder:hover {
    color: #fff;
    background-color: #891600;
  }
}

header .header-overlay {
  background: rgb(256 256 256 / 100%);
  position: fixed;
  inset: 0;
  z-index: 0;
  display: none;
}

header .header-overlay.active {
  display: block;
}

header .header-search {
  position: fixed;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 1;
  display: none;
}

header .header-search.selected {
  top: 60px;
  display: block;
}

header .header-search .search-circle {
  padding: 9px;
  margin: 0 8px;
  gap: 2px;
  align-items: center;
  display: flex;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 20%);
  height: auto;
  text-decoration: none;
}

header .header-search.selected .search-circle {
  padding: 0;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-almost-black-l60);
  box-shadow: none;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

header .header-search .search-circle .search-box {
  padding-left: 13px;
  font-size: 18px;
  height: 55px;
  width: 100%;
  line-height: 18px;
  color: var(--color-almost-black);
  display: none;
  font-weight: 400;
  border: 0;
  outline: none;
}

header .header-search.selected .search-circle .search-box {
  display: inline-block;
}

header .header-search .search-circle .floating-label {
  display: none;
}

header .header-search.selected .search-circle .floating-label {
  display: block;
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 27px;
  transition: .2s ease all;
  font-size: 18px;
  font-weight: 300;
  color: var(--color-almost-black-l30);
}

header .header-search.selected input:focus ~ .floating-label {
  top: 6px;
  bottom: 5px;
  left: 20px;
  opacity: 1;
  font-size: 12px;
  line-height: 14.52px;
  padding-bottom: 3px;
}

header .header-search .search-circle .search-icon {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  outline-offset: 9px;
  border-radius: 100%;
  display: none;
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  z-index: 10000;
}

header .header-search.selected .search-circle .search-icon {
  padding: 9px;
  display: block;
}

header .header-search .search-results-container {
  top: 65px;
  margin: 0;
  left: 10px;
  right: 10px;
  box-shadow: 0 0 16px -2px rgb(0 0 0 / 20%);
  border-radius: 0 0 15px 15px;
  background-color: var(--color-white);
  padding: 18px 14px 14px 32px;
  display: none;
}

header .header-search.selected .search-results-container {
  display: block;
  position: static;
}

header .header-search .search-results-container .quick-searches.active {
  display: block;
  color: var(--color-almost-black-l30);
  padding: 0 0 20px;
  list-style: none;
  margin: 0;
  font-family: Roboto,"Helvetica Neue",serif;
}

header .header-search .search-results-container .quick-searches .heading {
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 24px;
  margin-bottom: 8px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-almost-black-l30);
}

header .header-search .search-results-container .quick-searches li,
header .header-search .search-results-container .quick-searches.active li a {
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: var(--color-almost-black-l30);
  line-height: 40px;
  font-family: Roboto, "Helvetica Neue", serif;
}

header .header-search .close-icon {
  display: none;
}

header .header-search.selected .close-icon {
  padding-right: 8px;
  display: inline-block;
  right: 0;
  width: 105px;
  height: 35px;
  color: var(--color-white);
  top: -40px;
  position: absolute;
  text-decoration: none;
  text-align: right;
}

header .header-search.selected .close-icon .close-text {
  font-size: 12px;
  height: 20px;
  top: 2px;
  position: absolute;
  margin-left: -80px;
  line-height: 14.06px;
  font-family: Roboto,"Helvetica Neue",serif;
  font-weight: 400;
  width: 31px;
  color: #000;
}

header .header-search.selected .close-icon picture {
  display: block;
  position: relative;
  width: 19px;
  height: 19px;
  right: -65px;
  top: -6px;
}

@media (width >= 900px) {
  header .header-overlay.active {
    background: rgb(0 24 35 / 60%);
    position: fixed;
    inset: 0;
    z-index: 0;
  }

  header .header-search.selected {
    position: absolute;
    right: 150px;
    width: 390px;
    left: unset;
  }

  header .header-search .search-circle .search-box {
    height: 44px;
    padding-left: 13px;
    padding-top: 10px;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-almost-black);
    width: 291px;
    display: none;
    font-weight: 400;
    border: 0;
    outline: none;
  }

  header .header-search .search-circle .search-box:focus ~ .floating-label {
    top: 8px;
    bottom: 10px;
    left: 20px;
    opacity: 1;
    font-size: 12px;
    line-height: 14.52px;
    padding-bottom: 5px;
  }
}


header nav .nav-hamburger {
  font-size: 12px;
  margin: 0 10px;
  text-align: center;
  display: block;
}

header nav .nav-hamburger div {
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 30px;
  background: var(--color-almost-black);
  transform-origin: 4px 0;
  transition: transform .5s cubic-bezier(0.77,0.2,0.05,1), background .5s cubic-bezier(0.77,0.2,0.05,1), opacity .55s ease, -webkit-transform .5s cubic-bezier(0.77,0.2,0.05,1);
}

header nav .nav-hamburger div:first-of-type {
  margin-top: 5px;
}

header nav .nav-hamburger div:last-child {
  background: 0;
  border: 0;
}

header nav[aria-expanded='true'] .nav-hamburger div:first-child {
  opacity: 1;
  transform: rotate(45deg) translate(5.5px, 0);
}

header nav[aria-expanded='true'] .nav-hamburger div:nth-child(2) {
  opacity: 0;
}

header nav[aria-expanded='true'] .nav-hamburger div:last-child {
  opacity: 1;
  transform: rotate(-45deg) translate(1.5px, 0);
  bottom: -4px;
  background: var(--color-almost-black);
  display: block;
}

header nav[aria-expanded='true'] .nav-hamburger div:last-child span {
  display: none;
}

@media (width <= 900px) {
  header nav {
    position: fixed;
    width: 100%;
    z-index: -2;
  }
}

header nav[aria-expanded="false"] .mobile-nav {
  display: none;
}

header nav .mobile-nav {
  position: fixed;
  top: 60px;
  left: 0;
  width: calc(100% - 20px);
  height: 100%;
  overflow-y: auto;
  background-color: var(--color-almost-black-l90);
  margin: 0 10px;
  border-radius: 30px 30px 20px 20px;
}

header nav .mobile-nav .nav-links {
  margin-top: 70px;
  margin-bottom: 0;
}

/* header nav .mobile-nav .nav-accordian {
  width: 100%;
  margin: 0;
} */

header nav .mobile-nav li {
  list-style-type: none;
  width: 100%;
  margin: 0;
}

header nav .mobile-nav .nav-accordian-content li {
  list-style-type: none;
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 500;
  color: var(--color-almost-black-l10);
  line-height: 24px;
  text-decoration: none;
  font-size: 16px;
}

header nav .mobile-nav .nav-accordian-content li a {
  list-style-type: none;
  width: 100%;
  margin: 0;
  font-weight: 500;
  color: var(--color-almost-black-l10);
  line-height: 24px;
  text-decoration: none;
  display: flex;
}

header nav .mobile-nav .nav-accordian-content li a::before {
  content: "";
  width: 0;
  left: 0;
  bottom: -10px;
  height: 2px;
  border-radius: 30px;
  background-color: var(--color-phoenix-red);
  position: absolute;
  display: block;
  transition: all .3s ease-in-out;
}

header nav .mobile-nav .nav-accordian-content li a:hover::before {
  width: 55%;
  max-width: 130px;
}

header nav .mobile-nav ul {
  padding: 0;
}

header nav .mobile-nav .nav-accordian:hover, header nav .mobile-nav .nav-accordian:focus {
  background-color: unset;
}

header nav .mobile-nav .nav-accordian.level-1 {
  border: none;
  border-bottom: 1px solid var(--color-almost-black-l30);
  text-align: left;
  padding: 18px 0;
  margin: 0 15px;
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 3px;
}

header nav .mobile-nav .nav-accordian.level-1:last-child {
  border: none;
}

header nav .mobile-nav .nav-accordian.level-1.active {
  border: none;
}

header nav .mobile-nav .nav-accordian-content.level-1 {
  padding: 10px 15px 0 30px;
  background-color: white;
}

header nav .mobile-nav .nav-accordian.level-2 {
  border: none;
  border-bottom: 1px solid var(--color-almost-black-l30);
  text-align: left;
  padding: 10px 0;
  margin: 10px 0 0;
  border-radius: 0;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header nav .mobile-nav .nav-accordian.level-2.active {
  margin-bottom: 10px;
}

header nav .mobile-nav p.nav-accordian.level-3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  color: var(--color-almost-black-l10);
  line-height: 24px;
  text-decoration: none;
}

header nav .mobile-nav .nav-accordian.level-3 > a {
  text-decoration: none;
}

header nav .mobile-nav div[aria-expanded="false"] {
  display: none;
}

header nav .mobile-nav div.student-login-container {
  padding: 30px 10px;
}

header nav .mobile-nav a.student-login-container {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
  text-decoration: none;
  padding: 8px 15px;
  margin: 0 13px 0 5px;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 20%);
}

header nav .mobile-nav div.student-login {
  display: flex;
  font-size: 13px;
}

header nav .mobile-nav div.student-login img {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

header nav .mobile-nav div.request-info {
  display: flex;
  justify-content: center;
  background-color: var(--cta-blue-primary-focus-background);
  padding: 12px;
  padding-bottom: 40px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

header nav .mobile-nav div.request-info a {
  border: 1px solid var(--color-white);
  color: var(--color-white);
  background-color: transparent;
  padding: 8px 20px;
  margin: 0 5px;
  border-radius: 30px;
  font-size: 14px;
  min-width: 88px;
  text-align: center;
  text-decoration: none;
}

header nav .mobile-nav .nav-heading {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-almost-black-l30);
  line-height: 24px;
  padding-top: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
  display: block;
  border-top: 1px solid var(--color-almost-black-l40);

}

header nav .mobile-nav div:first-child > .nav-heading {
  border-top: 0;
  padding-top: 0;
  margin-top: 0;
}

header nav .mobile-nav .dropdown-arrow {
  position: relative;
  width: 30px;
  height: 30px;
}

header nav .mobile-nav .dropdown-arrow::before,
header nav .mobile-nav .dropdown-arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 10px;
  background-color: var(--color-almost-black);
  transition: all .5s;
}

header nav .mobile-nav .dropdown-arrow::before {
  transform: translate(0, -50%) rotate(45deg);
}

header nav .mobile-nav .dropdown-arrow::after {
  transform: translate(-200%, -50%) rotate(-45deg);
}

header nav .mobile-nav button.active > .dropdown-arrow::before {
  transform: translate(0, -50%) rotate(-45deg);
}

header nav .mobile-nav button.active > .dropdown-arrow::after {
  transform: translate(-200%, -50%) rotate(45deg);
}

header nav .mobile-nav .picture-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 10px;
}

header nav .mobile-nav .picture-footer > picture,
header nav .mobile-nav .picture-footer > picture > img {
  width: 100%;
  height: auto;
  text-align: center;
}

header nav .mobile-nav .picture-footer > a {
  background-color: var(--cta-blue-primary-background);
  color: var(--color-white);
  border-radius: 2rem;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 10px;
}

header nav .mobile-nav .picture-footer.small {
  display: block;
  text-align: left;
  color: var(--color-almost-black-l30);
  font-size: 14px;
  line-height: calc(14px*1.5);
  padding-bottom: 32px;
}

header nav .mobile-nav .picture-footer > a.strong-link {
  background: var(--color-white);
  border-color: var(--color-river-blue);
  color: var(--color-river-blue);
}

