.block div.article-shares {
    display: flex;
    justify-content: space-between;
}


.block .article-shares p {
    display: inline;
    margin-right: 1rem;
}

.block .article-shares .publication-date {
    color: black;
    font-size: calc(var(--body-font-size-xs) * 0.75);
}

.block div.article-byline {
    display: flex;
    justify-content: space-between;
}
@media (width <= 990px) {
    .block div.article-byline {
        display: flex;
        flex-direction: column;
    }
}

.block div.article-byline p {
    font-size: var(--body-font-size-xs);
    font-weight: 400;
    color: var(--darker-grey-color);
}

.block .article-byline .icon {
    height: 42px;
    width: 42px;
    padding-right: 20px;
    padding-left: 20px;
}
@media (width >= 990px) {
    .article-byline div {
        padding-left: 7%;
        width: 100%;
    }
}

