footer {
  padding: 0;
  font-size: var(--body-font-size-s);
}

footer .footer .section {
  padding-left: 25px;
  padding-right: 25px;
}

.section.footer-top {
  background-color: var(--light-color);
  padding-top: 98px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: column wrap;
}

footer .footer p {
  margin: 0;
}

footer .footer ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

footer .footer ul > li > ul {
  font-size: 14px;
}

.section.footer-bottom ul,
.section.footer-bottom p {
  font-size: 12px;
}

.section.footer-bottom ul {
  display: flex;
}

.section.footer-bottom ul li {
  height: 26px;
  margin-right: 10px;
}

.footer-form-container {
  display: flex;
  flex-direction: column;
  width: 310px;
  max-width: 100%;
  padding-left: 40px;
  margin-top: 32px;
  border-left: 1px solid #d2d7d9;
}

.newsletter-form.block{
  margin-top: 0;
  margin-bottom: 0;
}

.discover-more-container {
  display: flex;
}

.discover-more-text {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
}

.discover-more.block li {
  display: inline-block;
}

.footer-top-columns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.footer-top-columns > div:first-of-type > ul {
  display: flex;
  flex-direction: column;
}

.footer-top-columns > div:first-of-type > ul > li {
  height: 26px;
  border-bottom: 1px solid #7b8a92;
  padding: 13px 6px;
  position: relative;
}

.footer-top-columns > div:first-of-type > ul > li::after {
  width: 17px;
  height: 12px;
  margin-right: 8px;
  background: url('/icons/arrow.svg') no-repeat;
  content: "";
  text-transform: none;
  text-rendering: auto;
  transition: all .3s ease-in-out;
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  right: 10px;
  top: 18px;
}

.footer-top-columns > .default-content-wrapper {
  margin-left: 5%;
  margin-top: 39px;
  width: fit-content;
}

.newsletter-form-wrapper {
  width: 310px;
}

.footer-top-columns > div:last-of-type ul {
  font-size: 14px;
  font-weight: bold;
}

.footer-top-columns > div:last-of-type ul li ul {
  font-weight: normal;
}

.footer-top-columns > div:first-of-type > ul > li > ul {
  display: none;
}

@media (width >= 900px) {
  footer .footer ul {
    font-size: 14px;
  }

  footer .footer ul > li > ul {
    font-size: 12px;
  }

  .footer-top-columns ul {
    font-weight: bold;
  }

  .footer-top-columns ul li ul {
    font-weight: normal;
  }

  .footer-top-columns > div:first-of-type > ul {
    flex-direction: row;
    gap: 20px;
    position: relative;
  }

  .footer-top-columns > div:first-of-type > ul > li {
    height: unset;
    border: none;
    padding: 0;
  }

  .footer-top-columns > div:first-of-type > ul > li::after {
    display: none;
  }

  .footer-top-columns > div:last-of-type ul {
    font-size: 14px;
  }

  .footer-top-columns > div:last-of-type ul li ul {
    font-size: 12px;
  }

  .footer-top-columns > div:first-of-type > ul > li > ul {
    display: block;
    margin-top: 16px;
  }

  .footer-top-columns > div:first-of-type > ul > li > ul > li {
    margin-bottom: 11px;
  }

  .footer-top-columns > div:first-of-type > ul > li:nth-of-type(5) {
    position: absolute;
    left: 510px;
    top: 160px;
  }

  .footer-top-columns > div:first-of-type > ul > li:nth-of-type(6) {
    position: relative;
    left: 50px;
  }
}
