/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --link-color: #001823;
  --link-hover-color: #ba2525;
  --background-color: white;
  --light-color: #f2f3f3;
  --dark-color: #ccc;
  --darker-grey-color: #000000DE;
  --almost-black-color: #7b8a92;
  --text-color: black;
  --color-white: #fff;
  --color-almost-black: #001823;
  --color-almost-black-l60: #b2bbbf;
  --color-almost-black-l30: #5e7079;
  --color-almost-black-l40: #7b8a92;
  --color-almost-black-l90: #f2f3f3;
  --color-almost-black-l10: #1d333d;
  --color-phoenix-red: #db3725;
  --body-link-color: #30718d;
  --color-river-blue: #30718d;
  --color-river-blue-dark: #1a3d4d;
  --cta-blue-primary-background: var(--color-river-blue);
  --cta-blue-primary-focus-background: #30718d;


  /* fonts */
  --body-font-family: roboto, roboto-fallback, sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 32px;
  --heading-font-size-xl: 24px;
  --heading-font-size-l: 15px;
  --heading-font-size-m: 12px;
  --heading-font-size-s: 10px;
  --heading-font-size-xs: 8px;

  /* nav height */
  --nav-height: 64px;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 40px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

/*header {*/
/*  height: var(--nav-height);*/
/*}*/

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) !important; }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code, pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
main a:any-link {
  /*color: var(--body-link-color);*/
  text-decoration: underline;
}

main a:hover {
  color: var(--link-hover-color);
}

/* buttons */
main a.button:any-link, main button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

main a.button:hover, main a.button:focus, main button:hover, main button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  /* padding: 64px 16px; */
  grid-column: 3; /* the third column, the right side of the page */
  padding: unset;
}

@media (width >= 600px) {
  main .section {
    /* padding: 64px 32px; */
  }
}

@media (width >= 900px) {
  .section > div {
    max-width: 1300px;
    margin: auto;
  }

  main {
    max-width: 75%;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}

body > main > div:nth-child(1) {
  padding: 0;
}

body > main > div:nth-child(1) > div > h1 {
  font-size: calc(var(--heading-font-size-xxl)) !important;
  -webkit-font-smoothing: antialiased;
  color: black;
}

.blog-image {
  padding-top: 2% !important;
  padding-bottom: 0 !important;
}

/* blog image p */
.section.blog-image > div > p {
  margin: 0 !important;
}

/* blog image  */
.section.blog-image > div > p img {
  width: 100%;
  height: auto;
}

.blog-content a {
  color: var(--body-link-color);
  text-decoration: underline;
}

.blog-content a:hover {
  color: var(--color-phoenix-red);
}

.blog-content {
  padding-top: 4% !important;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.01rem;
  line-height: 3rem;
}

.blog-content p,
.blog-content li {
  font-size: 20px;
  color: black;
  margin: 0 0 2rem;
}

.blog-content h2 {
  font-size: var(--heading-font-size-xl);
  margin-bottom: 2rem;
}

.blog-content img {
  width: 83.33%;
  margin: 4% auto;
  display: flex;
}

.blog-content em {
  font-weight: 100;
  font-size: calc(var(--body-font-size-m) * 0.9);
}

/* styling for aside */
.aside-nav a.button:any-link, button {
  color: #fff;
  background-color: inherit;
  padding: 0;
}

.aside-nav p{
  color: #fff;
}

main {
  display: grid;
  grid-template-columns: auto 1fr 2.4fr 0.1fr;
  width: 92%;
  max-width: 1330px;
}

main .section.aside-nav {
  grid-column: 2; /* the second column, the left side of the page */
  position: fixed;
  font-size: 18px;
}

@media (width <= 990px) {

  #cmp-snav .cmp-snav-links {
    top: 5.5pc !important;
  }

  .main-container {
    margin-top: 115px !important;
  }

  main {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    margin: 0;
  }

  main .section.aside-nav {
    order: -1; /* Move the aside-nav to the top */
    max-width: 100%; /* Full width on mobile */
    position: fixed; /* Reset position to relative */
    top: 10%; /* Reset top */
  }

  main .section {
    order: 1; /* Move main sections below aside-nav */
    width: 100%; /* Full width on mobile */
  }

  .aside-nav-bottom {
    display: none;
  }

  .request-info-button-mobile {
    position: fixed;
    width: 100%;
    opacity: 1;
    bottom: 0;
    z-index: 5;
    visibility: hidden;
  }

  .request-info-button-mobile div {
    display: flex;
    box-shadow: 1px 1px 7px 2px rgb(0 0 0 / 20%);
    justify-content: center;
    background-color: white;
  }

  .request-info-button-mobile a {
    display: block;
    padding: 1.1% 5%;
    margin: 3% !important;
    background-color: var(--color-phoenix-red);
    border-radius: 20px;
    color: white !important;
    text-decoration: none !important;
    font-size: calc(var(--body-font-size-xs) * 0.85);
  }

  main {
    max-width: 87vw;
    margin-left: auto;
    margin-right: auto;
  }

  .blog-content p,
  .blog-content li,
  .blog-content em {
    font-size: var(--body-font-size-xs);
    font-weight: 400;
    line-height: 2.32rem;
  }

  .blog-content img {
    margin: 9% auto 12%;
  }

  .blog-content p:last-child em {
    display: block;
    letter-spacing: 0.001rem;
    line-height: 2.4rem;
    padding-right: 3%;
  }
}

/* Chat Widget */
.cx-widget.cx-theme-light button.cx-btn {
  min-width: 6rem !important;
}

body.no-scroll {
  height: 100%;
  overflow-y: hidden;
}

.main-container {
  flex-wrap: wrap;
  display: flex;
  clear: none;
  width: 100%;
  max-width: 1342px;
  margin: 105px auto 0 auto;
}

.aside-nav-container {
  position: relative;
  min-height: 0.1rem;
  width: 100%;
  display: block;
}

@media (min-width: 990px) {
  #cmp-snav .cmp-snav-links {
    top: 7.5pc !important;
  }
}

main {
  position: relative;
}

@media (min-width: 990px) {
  .main-container {
    flex-wrap: nowrap;
  }

  .aside-nav-container {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .aside-nav-container > div:first-child {
    height: 100%;
  }

  main {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    margin: 100px auto 1% 0;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (width < 990px) {
  #onetrust-banner-sdk #onetrust-policy-text {
    font-size: 12px !important;
    line-height: 16px !important;
  }
}
