.hero-column-container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  -webkit-font-smoothing: antialiased;
}

.hero-column-container a {
  color: var(--body-link-color) !important;
  text-decoration: underline;
}

.hero-column > div {
  display: flex;
  flex-direction: column;
}

.hero-column img {
  width: 100%;
}

.hero-column > div > div {
  order: 1;
}

.hero-column > div > .hero-column-img-col {
  order: 0;
}

.hero-column > div > .hero-column-img-col img {
  display: block;
}

body > main > div.section.hero-column-container > div > div > div:nth-child(1) > div:nth-child(2) > p {
  display: flex;
  justify-content: flex-end;
  gap: 0.4rem;
}

body > main > div.section.hero-column-container > div > div > div:nth-child(1) > div:nth-child(2) > p a {
  display: flex;
  align-items: center;
  object-fit: cover;
  border-radius: 50%;
  padding: 2.3%;
}

body > main > div.section.hero-column-container > div > div > div:nth-child(2) {
  justify-content: flex-end;
}

/* article datetime */
.hero-column-container > div > div > div:nth-child(1) > div:nth-child(1) > p {
  color: black;
  font-size: calc(var(--body-font-size-xs) * 0.75);
  line-height: 3rem;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
}

/* written and reviewed row */
.hero-column-container > div > div > div:nth-child(2) > div {
  display: flex;
  flex-direction: row;
}

/* written and reviewed row items */
.hero-column-container > div > div:nth-child(1) > div:nth-child(2) > div {
  width: 50%;
  padding-left: 5%;
}

/* writer-image */
.hero-column-container > div > div > div:nth-child(2) > div p:nth-child(1) {
  width: 10%;
  padding-right: 5%;
}

/* writer-text */
.hero-column-container > div > div > div:nth-child(2) > div p:nth-child(2) {
  width: 93%;
  padding-top: 3%;
  font-size: var(--body-font-size-xs);
  font-weight: 400;
  color: var(--darker-grey-color);
}

@media (width >= 900px) {
  .hero-column > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .hero-column > div > div {
    flex: 1;
    order: unset;
  }
}

.hero-column > div:nth-child(1) > div:nth-child(2) > p > a:nth-child(1) {
  background-image: url("./../icons/twitter-white.svg");
}

.hero-column > div:nth-child(1) > div:nth-child(2) > p > a:nth-child(2) {
  background-image: url("./../icons/facebook-white.svg");
}

.hero-column > div:nth-child(1) > div:nth-child(2) > p > a:nth-child(3) {
  background-image: url("./../icons/linkedin-white.svg");
}

.hero-column > div:nth-child(1) > div:nth-child(2) > p > a:nth-child(4) {
  background-image: url("./../icons/pinterest-white.svg");
}

.hero-column > div:nth-child(1) > div:nth-child(2) > p > a:nth-child(5) {
  background-image: url("./../icons/email-white.svg");
}

@media (width <= 990px) {
  body > main > div:nth-child(1) > div > h1 {
    font-size: var(--heading-font-size-xl) !important;
    margin-top: 50px;
  }

  .hero-column-container > div > div > div:nth-child(1) > div > p {
    justify-content: flex-start !important;
    line-height: 0 !important;
  }

  .hero-column-container > div > div > div:nth-child(2) > div {
    width: 85% !important;
  }

  .hero-column-container > div > div > div:nth-child(2) > div:nth-child(2) > p {
    line-height: unset !important;
  }
}
